body {
    font-family: latoregular, Helvetica, Arial;
    background-color: #EEE;
}
#main {
    width: 1160px;
    margin: 2em auto;
    padding: 0 2em;
}
#content {
    border: 1px solid #AAA;
    background-color: #FFF;
    
    border: 1px solid black;
    clear: both;
    padding: 2em;
}

#header {
    margin-bottom: 1em;
}

#header a {
    text-decoration: none;
    font-size: 175%;
    font-weight: bold;
    color: black;
}

label {
    width: 140px;
    float: left;
}

input {
    margin-bottom: 5px;
}

#graph {
    width: 100%;
    border: 1px solid lightgray;
    overflow: scroll;
}